In [1]:
import numpy as np
import pandas as pd
%matplotlib inline
# for plotting
import seaborn as sns
sns.set(style='white', font_scale=1.5)
#for working with Bam files
import pysam
import matplotlib.pyplot as plt
import matplotlib.backends.backend_pdf
#for distance
from scipy.spatial import distance
import datetime
from mpl_toolkits.mplot3d import Axes3D

import logging
from gridmap import grid_map
import os

/broad/blainey_lab/blainey-ipython/packages/matplotlib/__init__.py:1401: UserWarning:  This call to matplotlib.use() has no effect
because the backend has already been chosen;
matplotlib.use() must be called *before* pylab, matplotlib.pyplot,
or matplotlib.backends is imported for the first time.

  warnings.warn(_use_error_msg)

# Step1:
## Collect the results from the SNP caller
## and modify it to get one big list of optional candidates.

In [2]:
cd /broad/mushroom_lasagna/YB/Ht115_new_samples

/broad/mushroom_lasagna/YB/Ht115_new_samples

In [3]:
################################################################
#create the header file _ by using the original output file
frames=[]
out_files = !ls | grep 'T34_N48.txt'
f=out_files[0]
print f
!grep contig {f} > /broad/mushroom_lasagna/YB/{'header2.txt'} 
################################################################

T34_N48.txt

In [4]:
#load all files into one big table - sort by 
#not_contain_the outer sample
frames=[]
out_files = !ls | grep 'T' | grep '.txt' | grep -v '37'
count=1
columns = pd.read_csv('/broad/mushroom_lasagna/YB/header.txt', sep='\t', comment='#').columns
for file in out_files:
    wt = pd.read_csv(file, sep='\t')
    wt = pd.DataFrame(wt.as_matrix(), columns=columns)
    print ("for: ",file," -The size is: ",wt.shape)
    if (count==1):
        wf=wt
    else:
        wf=wf.append(wt, ignore_index=True)
    count=count+1
print (wf.shape)

/broad/blainey_lab/blainey-ipython/anaconda/lib/python2.7/site-packages/ipykernel_launcher.py:9: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  if __name__ == '__main__':

('for: ', 'T34_N38.txt', ' -The size is: ', (4773, 51))
('for: ', 'T34_N44.txt', ' -The size is: ', (4422, 51))
('for: ', 'T34_N45.txt', ' -The size is: ', (5023, 51))
('for: ', 'T34_N47.txt', ' -The size is: ', (5093, 51))
('for: ', 'T34_N48.txt', ' -The size is: ', (4812, 51))
('for: ', 'T34_N49.txt', ' -The size is: ', (5029, 51))
('for: ', 'T34_N54.txt', ' -The size is: ', (5193, 51))
('for: ', 'T34_N56.txt', ' -The size is: ', (5154, 51))
('for: ', 'T34_N57.txt', ' -The size is: ', (4572, 51))
('for: ', 'T34_N63.txt', ' -The size is: ', (5130, 51))
('for: ', 'T38_N34.txt', ' -The size is: ', (3167, 51))
('for: ', 'T38_N44.txt', ' -The size is: ', (3352, 51))
('for: ', 'T38_N45.txt', ' -The size is: ', (2952, 51))
('for: ', 'T38_N47.txt', ' -The size is: ', (3475, 51))
('for: ', 'T38_N48.txt', ' -The size is: ', (2800, 51))
('for: ', 'T38_N49.txt', ' -The size is: ', (4001, 51))
('for: ', 'T38_N54.txt', ' -The size is: ', (3522, 51))
('for: ', 'T38_N56.txt', ' -The size is: ', (3055, 51))
('for: ', 'T38_N57.txt', ' -The size is: ', (2672, 51))
('for: ', 'T38_N63.txt', ' -The size is: ', (4027, 51))
('for: ', 'T44_N34.txt', ' -The size is: ', (2487, 51))
('for: ', 'T44_N38.txt', ' -The size is: ', (3145, 51))
('for: ', 'T44_N45.txt', ' -The size is: ', (3446, 51))
('for: ', 'T44_N47.txt', ' -The size is: ', (3510, 51))
('for: ', 'T44_N48.txt', ' -The size is: ', (3303, 51))
('for: ', 'T44_N49.txt', ' -The size is: ', (3499, 51))
('for: ', 'T44_N54.txt', ' -The size is: ', (3476, 51))
('for: ', 'T44_N56.txt', ' -The size is: ', (3325, 51))
('for: ', 'T44_N57.txt', ' -The size is: ', (3094, 51))
('for: ', 'T44_N63.txt', ' -The size is: ', (3558, 51))
('for: ', 'T45_N34.txt', ' -The size is: ', (3078, 51))
('for: ', 'T45_N38.txt', ' -The size is: ', (2680, 51))
('for: ', 'T45_N44.txt', ' -The size is: ', (3482, 51))
('for: ', 'T45_N47.txt', ' -The size is: ', (3414, 51))
('for: ', 'T45_N48.txt', ' -The size is: ', (2539, 51))
('for: ', 'T45_N49.txt', ' -The size is: ', (3852, 51))
('for: ', 'T45_N54.txt', ' -The size is: ', (3494, 51))
('for: ', 'T45_N56.txt', ' -The size is: ', (3150, 51))
('for: ', 'T45_N57.txt', ' -The size is: ', (2732, 51))
('for: ', 'T45_N63.txt', ' -The size is: ', (3985, 51))
('for: ', 'T47_N34.txt', ' -The size is: ', (3472, 51))
('for: ', 'T47_N38.txt', ' -The size is: ', (3598, 51))
('for: ', 'T47_N44.txt', ' -The size is: ', (3928, 51))
('for: ', 'T47_N45.txt', ' -The size is: ', (3835, 51))
('for: ', 'T47_N48.txt', ' -The size is: ', (3612, 51))
('for: ', 'T47_N49.txt', ' -The size is: ', (4192, 51))
('for: ', 'T47_N54.txt', ' -The size is: ', (2940, 51))
('for: ', 'T47_N56.txt', ' -The size is: ', (3897, 51))
('for: ', 'T47_N57.txt', ' -The size is: ', (3451, 51))
('for: ', 'T47_N63.txt', ' -The size is: ', (4325, 51))
('for: ', 'T48_N34.txt', ' -The size is: ', (3622, 51))
('for: ', 'T48_N38.txt', ' -The size is: ', (3265, 51))
('for: ', 'T48_N44.txt', ' -The size is: ', (4106, 51))
('for: ', 'T48_N45.txt', ' -The size is: ', (3377, 51))
('for: ', 'T48_N47.txt', ' -The size is: ', (3973, 51))
('for: ', 'T48_N49.txt', ' -The size is: ', (4423, 51))
('for: ', 'T48_N54.txt', ' -The size is: ', (4137, 51))
('for: ', 'T48_N56.txt', ' -The size is: ', (3789, 51))
('for: ', 'T48_N57.txt', ' -The size is: ', (3309, 51))
('for: ', 'T48_N63.txt', ' -The size is: ', (4598, 51))
('for: ', 'T49_N34.txt', ' -The size is: ', (3848, 51))
('for: ', 'T49_N38.txt', ' -The size is: ', (4458, 51))
('for: ', 'T49_N44.txt', ' -The size is: ', (4356, 51))
('for: ', 'T49_N45.txt', ' -The size is: ', (4592, 51))
('for: ', 'T49_N47.txt', ' -The size is: ', (4611, 51))
('for: ', 'T49_N48.txt', ' -The size is: ', (4456, 51))
('for: ', 'T49_N54.txt', ' -The size is: ', (4794, 51))
('for: ', 'T49_N56.txt', ' -The size is: ', (4931, 51))
('for: ', 'T49_N57.txt', ' -The size is: ', (4254, 51))
('for: ', 'T49_N63.txt', ' -The size is: ', (3880, 51))
('for: ', 'T54_N34.txt', ' -The size is: ', (3169, 51))
('for: ', 'T54_N38.txt', ' -The size is: ', (3212, 51))
('for: ', 'T54_N44.txt', ' -The size is: ', (3541, 51))
('for: ', 'T54_N45.txt', ' -The size is: ', (3469, 51))
('for: ', 'T54_N47.txt', ' -The size is: ', (2536, 51))
('for: ', 'T54_N48.txt', ' -The size is: ', (3314, 51))
('for: ', 'T54_N49.txt', ' -The size is: ', (3939, 51))
('for: ', 'T54_N56.txt', ' -The size is: ', (3531, 51))
('for: ', 'T54_N57.txt', ' -The size is: ', (3137, 51))
('for: ', 'T54_N63.txt', ' -The size is: ', (4002, 51))
('for: ', 'T56_N34.txt', ' -The size is: ', (3021, 51))
('for: ', 'T56_N38.txt', ' -The size is: ', (2711, 51))
('for: ', 'T56_N44.txt', ' -The size is: ', (3233, 51))
('for: ', 'T56_N45.txt', ' -The size is: ', (2891, 51))
('for: ', 'T56_N47.txt', ' -The size is: ', (3310, 51))
('for: ', 'T56_N48.txt', ' -The size is: ', (2834, 51))
('for: ', 'T56_N49.txt', ' -The size is: ', (3831, 51))
('for: ', 'T56_N54.txt', ' -The size is: ', (3277, 51))
('for: ', 'T56_N57.txt', ' -The size is: ', (2415, 51))
('for: ', 'T56_N63.txt', ' -The size is: ', (3825, 51))
('for: ', 'T57_N34.txt', ' -The size is: ', (3734, 51))
('for: ', 'T57_N38.txt', ' -The size is: ', (3526, 51))
('for: ', 'T57_N44.txt', ' -The size is: ', (4117, 51))
('for: ', 'T57_N45.txt', ' -The size is: ', (3882, 51))
('for: ', 'T57_N47.txt', ' -The size is: ', (4169, 51))
('for: ', 'T57_N48.txt', ' -The size is: ', (3677, 51))
('for: ', 'T57_N49.txt', ' -The size is: ', (4608, 51))
('for: ', 'T57_N54.txt', ' -The size is: ', (4283, 51))
('for: ', 'T57_N56.txt', ' -The size is: ', (3705, 51))
('for: ', 'T57_N63.txt', ' -The size is: ', (4706, 51))
('for: ', 'T63_N34.txt', ' -The size is: ', (2824, 51))
('for: ', 'T63_N38.txt', ' -The size is: ', (3354, 51))
('for: ', 'T63_N44.txt', ' -The size is: ', (3166, 51))
('for: ', 'T63_N45.txt', ' -The size is: ', (3569, 51))
('for: ', 'T63_N47.txt', ' -The size is: ', (3500, 51))
('for: ', 'T63_N48.txt', ' -The size is: ', (3396, 51))
('for: ', 'T63_N49.txt', ' -The size is: ', (2788, 51))
('for: ', 'T63_N54.txt', ' -The size is: ', (3686, 51))
('for: ', 'T63_N56.txt', ' -The size is: ', (3648, 51))
('for: ', 'T63_N57.txt', ' -The size is: ', (3226, 51))
(406264, 51)

In [12]:
cwf=wf.drop_duplicates(['position','contig'])

In [11]:
f1=open('/broad/mushroom_lasagna/YB/Ht115_new_samples/log.txt', 'w+')
co=1
columns=('contig','position','context','ref_all','alt_all','t_lod_fstar','vector','distance_in_g1','distance_in_g2','per_bet_gr','real_bet_gr','ref_af','alt_af','type','full_data')
mutation=[]
f1.write("Log for run: /n")
keep=['contig', 'position','context', 'ref_allele','alt_allele','t_lod_fstar']
locations=cwf[keep]
print "full size of the list:",locations.shape[0]

full size of the list: 64770

# Get the names for all bams file for every sample

In [14]:
files = pd.read_csv('/broad/mushroom_lasagna/YB/Ht115_new_samples/new_HT_samples.csv')
print files.shape
files[0:13]

(13, 4)

   sample_id        ...        short_letter_code
0        T37        ...                        T
1        T45        ...                        T
2        T47        ...                        T
3        T48        ...                        T
4        T49        ...                        T
5        T54        ...                        T
6        T34        ...                        T
7        T63        ...                        T
8        T56        ...                        T
9        T38        ...                        T
10       T44        ...                        T
11       T57        ...                        T
12      CCLE        ...                        T

[13 rows x 4 columns]

# For every SNV, collect all reads from the samples (bam files).

In [ ]:
#
#and save the table - should run only once.
#def mat_from_bam(locations):
# this have to be in seperate line - ??????
#!cd /seq/picard_aggregation/G101103/
f1=open('/broad/mushroom_lasagna/YB/RPE_new_samples/log.txt', 'w+')
f1.write("Log for run: /n")

head=[]
begin=!pwd 
begin=begin.pop()

#prepare list of all bam files to read
#open bam file and load all the locations - and add to the table
for ind in files.index:
    head, tail =os.path.split(files.clean_bam_file_capture[ind])
    print head
    os.chdir(head)
    path=files.clean_bam_file_capture[ind]
    samfile = pysam.AlignmentFile(path, "rb")
    #Samples.append(samfile)
    #for every bam file run over all the mutations
    seq=[]
    f1.write("Reading from file: %s\n"%(tail))
    f1.flush()
    for i in locations.index:
        if (i%500 ==0):
            f1.write("file %s finished = %i lines\n" %(tail,i))
            f1.flush()
        s=""
        chr= str(locations.contig[i])
        region= int(float(locations.position[i]))
        region=region-1
        for row in samfile.pileup(chr,region,region+1):
                if row.pos ==region:
                    for row in row.pileups:
                        if (row.query_position is not None):
                            #print (row.query_position)
                            #print (row.alignment.query_sequence[row.query_position])
                            s+=row.alignment.query_sequence[row.query_position]
        s=''.join(sorted(s.upper()))
        seq.append(s)
        # add the seq as column in the db - location
    #locations[f]=pd.Series(seq,index=f)
    ntail = tail.split('.')[0]
    #print "ntail= ",ntail," len seq= ",len(seq)
    locations[ntail]=seq

########################
#and save the new table
locations.to_pickle('/broad/mushroom_lasagna/YB/HT11_new_samples/mutations.pkl')
f1.write("file %s finished = %i lines\n" %(ntail,i))
f1.flush()
f1.write("finito")
f1.close()

In [17]:
locations[0:3]

  contig              ...                                        HT115
0      1              ...                  CCCCCCCCCCCCCCCCCCCCCCCCCCC
1      1              ...                CCCCCCCCCCCCCCCCCCCCCCCCCCCCG
2      1              ...                         CCCCCCCCCCCCCCCCCCCC

[3 rows x 19 columns]

In [18]:
#For HT115:
#rename all the samples you are going to analyse

print locations.shape
#locations =locations.drop('HT115', 1)
locations=locations.rename(columns={"HT115":"HT_CCLE"})
locations=locations.rename(columns={"HT115_42112":"HT6W56"})
locations=locations.rename(columns={"HT115_42221":"HT6W38"})
locations=locations.rename(columns={"HT115_5211":"HT6W44"})
locations=locations.rename(columns={"HT115_7221":"HT6W57"})
col=locations.columns
imp= filter(lambda x: 'HT' in x, col)
print imp
locations[0:3]

(64770, 19)
['HT6W37', 'HT6W45', 'HT6W47', 'HT6W48', 'HT6W49', 'HT6W54', 'HT6W34', 'HT6W63', 'HT6W56', 'HT6W38', 'HT6W44', 'HT6W57', 'HT_CCLE']

  contig              ...                                      HT_CCLE
0      1              ...                  CCCCCCCCCCCCCCCCCCCCCCCCCCC
1      1              ...                CCCCCCCCCCCCCCCCCCCCCCCCCCCCG
2      1              ...                         CCCCCCCCCCCCCCCCCCCC

[3 rows x 19 columns]

In [ ]:
### For RPE1:
#print locations.shape

#locations=locations.rename(columns={"RPE1_7212":"RPE5W44"})
#locations=locations.rename(columns={"RPE1_6222":"RPE5W28"})
#locations=locations.rename(columns={"RPE1_6221":"RPE5W32"})
#locations=locations.rename(columns={"RPE1_621":"RPE5W36"})
#locations=locations.rename(columns={"RPE1_42221":"RPE5W38"})

#col=locations.columns
#imp= filter(lambda x: 'RPE' in x, col)
#print imp
#locations[0:3]

# Preapare the dataframe of the full list of candidates SNVs.

In [19]:
#this function convert one 'spot' from the full mutation table
def make_spot(mut,i):
    col=mut.columns
    imp= filter(lambda x: 'HT' in x, col)+filter(lambda x: '2nd' in x, col)
    seq=[]
    for f in imp:
        seq.append(mut[f][i])
    samples=pd.DataFrame(seq,index=imp,columns=['Seq'])
    return samples

def pre_seq_bin(seq):
    #######################
    #threshold for the binary is 20% 
    thr=0.2
    binary=np.zeros(4)#'ATCG'
    count=np.array([seq.count('A'),seq.count('T'),seq.count('C'),seq.count('G')])
    total= len(seq)
    percent = (count.astype(float)/total)
    count=0
    for i in percent:
        if (i>thr):
            binary[count]=1
        count=count+1         
    return binary

#function that read seq and return matrix of counts for each letter
def print_counts(seq):
    count=np.array([seq.count('A'),seq.count('T'),seq.count('C'),seq.count('G')])
    return count

#function that read seq and return matrix of percentage for each letter
def pre_seq(seq):
    count=np.array([seq.count('A'),seq.count('T'),seq.count('C'),seq.count('G')])
    total= len(seq)
    percent = (count.astype(float)/total)
    return percent

#build the vector from nucleotides
def convert_letter(char):#'ATCG'
    if char=="A":
        ans=0
    elif char=="T":
        ans=1
    elif char=="C":
        ans=2
    elif char=="G":
        ans=3
    else:
        ans=-1
    return ans

#show specific lines
def present(mut,ind):
    for i in mut.loc[ind].full_data :
        print i[0],i[2],i[6]
    return

In [ ]:
#add "full_data" to the mutation table:
cwf=locations
fmut=[]
columns=('contig','position','context','ref_all','alt_all','t_lod_fstar','full_data')
for i1 in cwf.index:
    spot=make_spot(cwf,i1)
    count=0
    fsdata=[]
    for i2 in spot.Seq:
        #print (spot.index[count],": ",print_counts(i)," ", pre_seq_bin(i))
        sdata=(spot.index[count],": ",print_counts(i2)," ",pre_seq(i2)," ", pre_seq_bin(i2))
        fsdata.append(sdata)
        count=count+1
    line=(cwf.contig[i1],cwf.position[i1],cwf.context[i1],cwf.ref_allele[i1],cwf.alt_allele[i1],cwf.t_lod_fstar[i1],fsdata)
    fmut.append(line)
    #cwf.set_value(index=i1,col='full_data',value=fsdata)
full_mut = pd.DataFrame(fmut, columns=columns)
full_mut.to_pickle('/broad/mushroom_lasagna/YB/Ht115_new_samples/full_mutations.pkl')
print "finish next time can skip"